name: "BTicino"
description: "BTicino local addon"
version: "1.7.8"
slug: "bticino"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
map:
  - config:rw
startup: services
ports:
  8080/tcp: 8080
